APScheduler==3.11.0
email_validator==2.2.0
fastapi==0.115.11
h2==4.2.0
lxml_html_clean==0.4.1
newsapi-python==0.2.7
newspaper3k==0.2.8
openai==1.68.2
pydantic-settings==2.8.1
pytest==8.3.5
requests-html==0.10.0
setuptools==75.8.0
supabase==2.13.0
uvicorn==0.34.0
wheel==0.45.1
