<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBm4p3AovOhJBlkgHvnoCmJ3NqvQ7wZ0qs</string>
	<key>GCM_SENDER_ID</key>
	<string>766725203573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.ghunaim.yazan.newsflow-client</string>
	<key>PROJECT_ID</key>
	<string>newsflow-afbbe</string>
	<key>STORAGE_BUCKET</key>
	<string>newsflow-afbbe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766725203573:ios:1057238a2189e1541fba3c</string>
</dict>
</plist>